.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 90%;
    padding: 20px;
    background-color: #212121;
    box-shadow: 8px 8px 30px #00000056;

    .logo {
      width: 100%;
      margin-bottom: 20px;
    }

    .inputs {
      width: 100%;
      margin-bottom: 20px;

      ion-item:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}
