<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="container">
    <div class="card">
      <div class="logo">
        <img src="assets/sga.png" alt="Logo_SGA">
      </div>
      <div class="inputs">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input class="custom" type="email" placeholder="example@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input class="custom" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>
      <ion-button class="btn" expand="block">Login</ion-button>
      <div class="others-options">
        <p>Não tem uma conta? <a routerLink="/register">Crie uma!</a></p>
        <p><a routerLink="#">Esqueceu a senha?</a></p>
      </div>
    </div>
  </section>
</ion-content>
