<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="container">
    <div class="card">
      <div class="logo">
        <ion-thumbnail>
          <img src="assets/sga.png" alt="Logo_SGA">
        </ion-thumbnail>
      </div>
      <div class="inputs">
        <ion-item fill="outline">
          <ion-label position="floating">Email</ion-label>
          <ion-input class="custom" type="email" placeholder="example@gmail.com"></ion-input>
        </ion-item>
        <ion-item fill="outline">
          <ion-label position="floating">Password</ion-label>
          <ion-input class="custom" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>
      <ion-button expand="full">Login</ion-button>
      <div class="others-options"></div>
    </div>
  </section>
</ion-content>
