<ion-header [translucent]="true">
  <ion-toolbar>
    <img width="90" src="assets/sga.png" alt="Logo">
    <ion-buttons slot="end">
      <ion-button routerLink="/product-register">
        <span>Add Product</span>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/login">
        <span>Sign In</span>
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container"></div>
</ion-content>
