.list-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--primary);
  border-radius: 10px;

  ion-item {
    margin-bottom: 8px;

    ion-label{
      width: 100%;
      padding: 5px;
      display: flex;
      justify-content: start;
      align-items: center;

      ion-icon {
        font-size: 50px;
        padding-right: 15px;
      }

      .information {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          font-size: 14px;
          font-weight: 700;
        }

        .email {
          font-size: 12px;
          font-weight: 300;
        }

        .cpf {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }

  ion-item:last-child {
    margin-bottom: 0;
  }
}
